*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    color: var(--san-juan-blue);
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
    font-weight: var(--font-regular);
    line-height: 1.867;
    overflow-x: hidden;
}

img {
    border: none;
    display: block;
    outline: none;
    height: auto;
}

a,
button {
    text-decoration: none;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


ul,
li {
    list-style-type: none;
}