
.we-work-with {
    @include respond-to(large) {
        margin-top: -3rem;
    }

    &::before {

        top: -160.3vw;
        left: -53.8%;
        width: 208vw;
        height: 208vw;

        @include respond-to(small) {
            width: 101.56vw;
            height: 101.56vw;
            top: -71.35vw;
            left: -6px;
        }

        @include respond-to(large) {
            top: -76.2%;
            left: -17%;
            width: 78rem;
            height: 78rem;
        }
    }

    &__wrapper {
        padding-block: 8rem;
        display: flex;
        flex-direction: column;

        @include respond-to(huge) {
            flex-direction: row;
        }

        gap: 5.6rem;

        @include respond-to(medium) {
            padding-block: 8.8rem;
            gap: 6.4rem;
        }

        @include respond-to(large) {
            padding-block: 10rem;
        }
    }

    &__companies {
        grid-row-gap: 4rem;
        grid-column-gap: 5rem;
        max-width: 28rem;

        @include respond-to(medium) {
            grid-column-gap: 6rem;
            max-width: 53.6rem;
        }
    }

    &__article {
        max-width: 44.5rem;
    }
}




.heading-2+.paragraph {
    margin-top: 1.2rem;

    @include respond-to(small) {
        margin-top: 2.2rem;

    }
}

.paragraph+.btn {
    margin-top: 6rem;

    @include respond-to(medium) {
        margin-top: 3rem;
    }
}

.features {
    padding-top: 2.5rem;
    padding-bottom: 8rem;
    overflow-x: hidden;

    @include respond-to(medium) {
        padding-top: 4.5rem;
        padding-bottom: 10rem;
    }

    @include respond-to(large) {
        padding-top: 11rem;
        padding-bottom: 9.5rem;

    }



    &__articles>*+* {
        margin-top: 4rem;

        @include respond-to(medium) {
            margin-top: 6rem;
        }

        @include respond-to(large) {
            margin-top: 0;
        }
    }

    &__articles {
        .bg-pattern-circle {
            &::before {
                display: none;
                height: 118.1%;
                width: 70.3%;
                right: -56%;
                top: -12%;

                @include respond-to(large) {
                    display: block;
                }
            }

        }
    }



    &__cards {
        gap: 4.8rem;
        margin-top: 8rem;

        @include respond-to(medium) {
            gap: 1rem;
            margin-top: 10rem;

        }

        @include respond-to(large) {
            gap: 3rem;
            margin-top: 5rem;
        }
    }

}

.article {
    max-width: 57.5rem;

    @include respond-to(large) {
        max-width: 44.5rem;
    }

    &-one {
        margin-top: -4.5rem;

        @include respond-to(large) {
            margin-top: -3.5rem;
            padding-left: 1.4rem;
        }
    }

    &-two {
        margin-top: -3rem;


        @include respond-to(medium) {
            margin-top: -1.5rem;
        }

        @include respond-to(large) {
            margin-top: -5rem;
        }
    }

}

.easy-to-implement-img {
    width: 136%;
    transform: translateX(4%);


    @include respond-to(medium) {
        width: 77%;
        transform: translateX(0);

    }

    @include respond-to(large) {
        margin-left: -5.5rem;
        width: 110%;
    }
}

.simple-ui-img {
    width: 126%;
    transform: translateX(4%);


    @include respond-to(medium) {
        width: 67%;
        transform: translateX(0);
    }

    @include respond-to(large) {
        width: 130.2%;
    }
}

.feature-card {
    gap: 2.2rem;

    &__text p {
        margin-top: 0.6rem;
    }
}